---
layout: default
permalink: /ux/index.html
title: UX
---
{% include header.html %}

<section class="list">
  <h2>UX projects</h2>
  {% for project in site.ux_projects %}
    <div class="item {% if post.star == true %}star{% endif %}">
      <a class="url" href="{{ site.url }}{{ project.url }}">
        <h3 class="title">{{ project.title }}</h3>
      </a>
    </div>
  {% endfor %}
</section>
<section class="list">
	    <div class="item">
      <a class="url" href="{{ site.url }}/projects">
        <h3 class="title">All projects</h3>
      </a>
    </div>
</section>

{% include footer.html %}
